<h1 class="page-header">Create a new Listing</h1>

<%= render 'form' %>

<%= link_to 'Back', sellers_path %>

<footer class="footAtBottom">
    <div class="well">
        <div class="row">
            <div class="col-md-12">
                <p>Copyright &copy; <strong>Team BADS</strong> and <strong>Tech Talent South</strong> 2015</p>
            </div>
        </div>
    </div>
</footer>