<html>
<head>

	    <!-- Bootstrap Core CSS -->
    <link href="bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="modern-business.css" rel="stylesheet">

<!--     <link href="css/modern-business.css" rel="stylesheet"> -->

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	

</head>






<body>
	<header id="myCarousel" class="carousel head_1"><p id="about_tag">About Us</p></header>
	<p id="about_p">We showcase fine art from aspiring local artists in a warm and welcoming gallery. </p>

</body>
</html>


