// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.logo-page {
	margin: 20px 0 auto;
	padding: 15px;
	text-align: center;
}


.fill {
width: 100%;

    margin: 0 auto;
}